/* Description: A CSS page that styles the webmaster's html pages. */

/*Jayla Kaita & Melissa Yago & Preetha Pant 12/19/19*/

/*the nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gold;
  position: fixed;
  top: 0;
  width: 100%;
}
/*the nav bar*/
li {
  float: left;
}
/*The text in the nav bar*/
li a {
  display: block;
  color: rgb(0, 41, 163);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*changes the color of the nav bar when you hover over the different links*/
li a:hover:not(.active) {
  background-color: rgb(255, 196, 0);
}
/*the nav bar will have a white box for the page you are currenlty viewing*/
.active {
  background-color: white;
}
/*changes the primary header and aligns it to the center*/
h1{
  color: rgb(0, 41, 163);
  margin-top: 80px;
  text-align: center;
}
/*distance the form is from the top of the page*/
form{
  margin-top: 100px;
}
/*changes the color of the submit button*/
input{
  padding: 10px;
  display: block;
  margin: 0 auto 0 auto;
  color: rgb(0, 41, 163);
  
}
/*changes the color of the text inside the text box*/
div{
  color: rgb(0, 41, 163);
}